# Desafio Codenation: Quem fez o ENEM 2016 apenas para treino?

### Bibliotecas básicas

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### Bibliotecas de machine learning

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score

### Dados de treino

In [3]:
cols = ['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 
        'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO', 
        'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'TP_LINGUA', 'IN_TREINEIRO']

train = pd.read_csv('train.csv')
train.drop(['Unnamed: 0'], axis=1, inplace=True)
train = train[cols]
print(f'Linhas: {train.shape[0]} | Colunas: {train.shape[1]}')

Linhas: 13730 | Colunas: 22

### Dados de teste

In [4]:
cols = ['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 
        'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO', 
        'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'TP_LINGUA']

test = pd.read_csv('test.csv')
test = test[cols]
print(f'Linhas: {test.shape[0]} | Colunas: {test.shape[1]}')

Linhas: 4570 | Colunas: 21

### Característica dos dados

In [5]:
train.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,NU_IDADE,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_BAIXA_VISAO,IN_CEGUEIRA,...,IN_DISCALCULIA,IN_SABATISTA,IN_GESTANTE,IN_IDOSO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,TP_LINGUA,IN_TREINEIRO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,43,24,1,1,1,4,1,0,0,...,0,0,0,0,1,1,1,1,1,0
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,23,17,3,1,2,0,2,0,0,...,0,0,0,0,1,1,1,1,1,0
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,23,21,3,1,3,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,33,25,0,1,1,9,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,13,28,2,1,1,4,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NU_INSCRICAO      13730 non-null  object
 1   CO_UF_RESIDENCIA  13730 non-null  int64
 2   NU_IDADE          13730 non-null  int64
 3   TP_COR_RACA       13730 non-null  int64
 4   TP_NACIONALIDADE  13730 non-null  int64
 5   TP_ST_CONCLUSAO   13730 non-null  int64
 6   TP_ANO_CONCLUIU   13730 non-null  int64
 7   TP_ESCOLA         13730 non-null  int64
 8   IN_BAIXA_VISAO    13730 non-null  int64
 9   IN_CEGUEIRA       13730 non-null  int64
 10  IN_SURDEZ         13730 non-null  int64
 11  IN_DISLEXIA       13730 non-null  int64
 12  IN_DISCALCULIA    13730 non-null  int64
 13  IN_SABATISTA      13730 non-null  int64
 14  IN_GESTANTE       13730 non-null  int64
 15  IN_IDOSO          13730 non-null  int64
 16  TP_PRESENCA_CN    13730 non-null  int64
 17  TP_PRESENCA_CH    13730 non-null  int64
 18  TP_PRESENCA_LC    13730 non-null  int64
 19  TP_PRESENCA_MT    13730 non-null  int64
 20  TP_LINGUA         13730 non-null  int64
 21  IN_TREINEIRO      13730 non-null  int64
dtypes: int64(21), object(1)
memory usage: 2.3+ MB

### Estatística dos dados

In [7]:
train[cols].describe()

,CO_UF_RESIDENCIA,NU_IDADE,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_BAIXA_VISAO,IN_CEGUEIRA,IN_SURDEZ,IN_DISLEXIA,IN_DISCALCULIA,IN_SABATISTA,IN_GESTANTE,IN_IDOSO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,TP_LINGUA
count,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.0,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000
mean,30.736708,21.593809,2.185652,1.048871,1.782666,2.146176,1.353532,0.001238,0.0,0.000364,0.000073,0.000073,0.009687,0.000947,0.000146,0.754479,0.754479,0.738747,0.738747,0.593664
std,9.862405,7.043654,1.007285,0.258895,0.880734,3.217328,0.558472,0.035167,0.0,0.019080,0.008534,0.008534,0.097947,0.030757,0.012069,0.431932,0.431932,0.440162,0.440162,0.491167
min,11.000000,13.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,17.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,31.000000,19.000000,3.000000,1.000000,2.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,35.000000,23.000000,3.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,53.000000,67.000000,5.000000,4.000000,4.000000,10.000000,4.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000

### Valores nulos

In [8]:
missing = pd.DataFrame({'nomes': train.columns, 'tipos': train.dtypes, 'NA %': (train.isna().sum() / train.shape[0]) * 100})
missing[missing['NA %'] > 0.0].set_index('nomes').sort_values(by=['NA %'], ascending=False)

Empty DataFrame
Columns: [tipos, NA %]
Index: []

In [9]:
cols_obj = [c for c in train.columns if train[c].dtypes == 'O']
for c in cols_obj:
    train[c].fillna(train[c].mode()[0], inplace=True)
    
cols_num = [c for c in train.columns if train[c].dtypes != 'O']
for c in cols_num:
    train[c].fillna(0, inplace=True)

In [10]:
cols_obj = [c for c in test.columns if test[c].dtypes == 'O']
for c in cols_obj:
    test[c].fillna(test[c].mode()[0], inplace=True)
    
cols_num = [c for c in test.columns if test[c].dtypes != 'O']
for c in cols_num:
    test[c].fillna(0, inplace=True)

### Separação do ID

In [11]:
train_id = train['NU_INSCRICAO']
train.drop(['NU_INSCRICAO'], axis=1, inplace=True)

### Variável alvo

In [12]:
train['IN_TREINEIRO'].value_counts()

0    11947
1     1783
Name: IN_TREINEIRO, dtype: int64

In [13]:
target = train['IN_TREINEIRO']
train.drop(['IN_TREINEIRO'], axis=1, inplace=True)

### Modelagem

In [14]:
X, y = train, target

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

model = RandomForestClassifier(n_estimators=200)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(r2_score(y_test, y_pred))

0.9761933660465035

### Validação

In [16]:
test_pred = model.predict(test.drop(['NU_INSCRICAO'], axis=1))

### Submissão

In [17]:
desafio_df = test['NU_INSCRICAO'].to_frame()
desafio_df['IN_TREINEIRO'] = test_pred
desafio_df.to_csv('answer.csv', index=False)
desafio_df.head()

                               NU_INSCRICAO  IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1  177f281c68fa032aedbd842a745da68490926cd2             0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3  5c356d810fa57671402502cd0933e5601a2ebf1e             0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0